{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}<title>Login</title>{% endblock %}

{% block head %}
{% endblock %}

{% block main %}
<div class="login">
    <div class="login_inside">
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-success btn-block">Войти</button>
            <button class="btn btn-success btn-block"><a href="{% url 'register' %}">Зарегистрироваться</a></button>
            <a href="{% url 'password_reset' %}">Сброс пароля</a>
        </form>
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}
