{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}<title>Сброс пароля</title>{% endblock %}

{% block head %}
{% endblock %}

{% block main %}
<div class="login">
    <div class="login_inside">
        <h3>Забыли свой пароль?</h3>
        <p>Введите адрес электронной почты чтобы сбросить пароль</p>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success btn-block">Отправить Email</button>
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
