{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}<title>Сброс пароля</title>{% endblock %}

{% block head %}
{% endblock %}

{% block main %}
<div class="login">
    <div class="login_inside">
        <h1>Сброс пароля</h1>
        {% if validlink %}
        <p>Пожалуйста введите свой новый пароль дважды:</p>
        <form action="." method="post">
            {{ form|crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-block">Изменить пароль</button>
        </form>
        {% else %}
        <p>The password reset link was invalid, possibly because it has
            already been used. Please request a new password reset.</p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
