{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Registration</title>
{% endblock %}

{% block head %}
{% endblock %}

{% block main %}
<div class="login">
    <form method="post">
        {% csrf_token %}
        {{ form }}
        {% for error in form.errors %}
        {{ error }}
        {% endfor %}
        <button type="submit" class="btn btn-success btn-block"><a href="{% url 'register' %}"></a>Регистрация</button>
    </form>
</div>
{% endblock %}
{% block footer %}
{% endblock %}
